@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-ping-once {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) 1;
}
